<p id="notice"><%= notice %></p>

<h1>Containers</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Radio</th>
      <th>Altura</th>
      <th>Volumen</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @containers.each do |container| %>
      <tr>
        <td><%= container.name %></td>
        <td><%= container.radius %></td>
        <td><%= container.height %></td>
        <td><%= container.volume %></td>
        <td><%= link_to 'Ver', container %></td>
        <td><%= link_to 'Editar', edit_container_path(container) %></td>
        <td><%= link_to 'Eliminar', container, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo tinaco', new_container_path %>
