<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @container.name %>
</p>

<p>
  <strong>Radio:</strong>
  <%= @container.radius %>
</p>

<p>
  <strong>Altura:</strong>
  <%= @container.height %>
</p>

<p>
  <strong>Volumen en litros:</strong>
  <%= @container.volume %>
</p>

<p>
  <strong>Fecha de creación:</strong>
  <%= @container.created_at %>
</p>

<div class="field">

  <h3>Mediciones</h3>
  <ul>
    <% @container.measures.each do |measure| %>
    <li>
      Cantidad de agua: <%= measure.water_quantity %> litros ------- [Medido el: <%= measure.created_at %>]
    </li> 
    <% end %>
  </ul>
  
</div>



<%= link_to 'Edit', edit_container_path(@container) %> |
<%= link_to 'Back', containers_path %>
