<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @container.name %>
</p>

<p>
  <strong>Radio:</strong>
  <%= @container.radius %>
</p>

<p>
  <strong>Altura:</strong>
  <%= @container.height %>
</p>

<p>
  <strong>Volumen en litros:</strong>
  <%= @container.volume %>
</p>

<p>
  <strong>Fecha de creación:</strong>
  <%= @container.created_at %>
</p>



<%= link_to 'Edit', edit_container_path(@container) %> |
<%= link_to 'Back', containers_path %>
