<p id="notice"><%= notice %></p>

<p>
  <strong>Container:</strong>
  <%= @measure.container %>
</p>

<p>
  <strong>Height:</strong>
  <%= @measure.height %>
</p>

<p>
  <strong>Water quantity:</strong>
  <%= @measure.water_quantity %>
</p>

<%= link_to 'Edit', edit_measure_path(@measure) %> |
<%= link_to 'Back', measures_path %>
